<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-xl-4 col-sm-6" style="margin-bottom: 10px">
            <div class="card">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}" style="color: black;">
                        <h5 class="card-title" style="height: 50px;">{{this.name}}</h5>
                    </a>

                    <p class="card-text" style="overflow-y: hidden; height: 100px">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Buy Course</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>